[Unit]
Description=Fibel service
Before=dhcpcd.service

[Service]
User=primer
WorkingDirectory=/home/primer/personal_Primer/
ExecStart=/home/primer/bin/python3 start.py &
ExecStopPost=/home/primer/bin/python3 stop.py &

[Install]
WantedBy=multi-user.target

